<div id="footerParent">
  <div class="footerTitle">
    <h1 style="font-family: sans-serif;">Made with pain</h1>
  </div>

  <% if(locals.user){%>
  <div>
    <button class="btn" ><a href="/users/reset-page">Reset Password</a></button>
  </div>

  <%}%>
</div>
