<header>
    <div id="navParent">
        <div class="title" >
            <a href="/"><h1 style="font-family: sans-serif;" >Authentication</h1></a>
        </div>
        <div class="header-links" >
            <% if(locals.user){%>
                <button class="btn"><a href="/users/sign-out" >Sign-out</a></button>
            <%}else{%>
                <button class="btn"><a href="/users/sign-up">Sign-up</a></button>
                <button class="btn"><a href="/users/sign-in">Sign-in</a></button>
            <%}%>
        </div>
        
        
        
    </div>
</header>
