<div>
    <h1>Reset password page</h1>
    <form action="/users/reset" method="post">
        <input type="text" name = "oldPassword" placeholder="Enter old password" required>
        <input type="text" name = "newPassword" placeholder="Enter new password" required>
        <input type="text" name = "confirmPassword" placeholder="Confirm new password" required>
        <input type="submit" value="Reset" required>

    </form>
</div>